body{
	background-image: url("../img/illusion.png");
}

#name{
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 60px;
	letter-spacing: 1px;
    text-shadow: 70px 70px black;
    margin-top: 375px;
    margin-left: 40%;
}
#white{
	background-image: url("../img/escheresque.png");
	height: 245px;
}
#projects-link{
	color: black;
	text-decoration: none;
}
#nav-senpai{
	margin-top: 16%;
	margin-left: 7%;
	font-size: 30px;
}
#move-bitch{
	margin-left: 5%;
	color: black;
	text-decoration: none;	
}

@media screen and (max-width:375px) {
#name{
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 28px;
	letter-spacing: 1px;
    text-shadow: 40px 40px black;
    margin-top: 450px;
    margin-left: 21%;
}
#white{
	background-image: url("../img/escheresque.png");
	height: 285px;
}
#nav-senpai{
	margin-top: 16%;
	font-size: 13px;
}

}
