body{
	background-image: url("../img/illusion.png");
}

#name{
	font-family: 'Crimson Text', serif;
	color: white;
	font-size: 60px;
	letter-spacing: 1px;
    text-shadow: 70px 70px black;
    margin-top: 375px;
    margin-left: 40%;
}
#white{
	background-image: url("../img/escheresque.png");
	height: 245px;
}
#projects-link{
	color: black;
	text-decoration: none;
}
#nav-senpai{
	margin-top: 15%;
	margin-left: 1%;
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
}

#move-bitch{
	margin-left: 3%;
	color: black;
	text-decoration: none;	
}